DOMAIN=mydomain.tld

PUID=0
PGID=999
TZ=Europe/London

SONARR_CNF=/services/sonarr
RADARR_CNF=/services/radarr
LIDARR_CNF=/services/lidarr
OMBI_CNF=/services/ombi

TDARR_DATA=/services/tdarr/data
TDARR_DB=/services/tdarr/db
TRANSCODE_CACHE=/services/tdarr/cache

DOWNLOADS_DIR=/downloads/completed
MEDIA_DIR=/media
